nav {
	background-color: #62bb9d;
	color: #26616d;
	padding: 10px;

}

.navbar {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;

}

h1 {
	margin: 0;
	text-align: left;
	font-size: 50px !important;
}

.btn.btn-primary {
	background-color: #62bb9d;
	color: white;
	border: 2px solid darkgreen;
}

.btn.btn-primary:hover {
	background-color: #26616d;
	color: white;
	border: 2px solid #62bb9d;
}