<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
</head>
<body>
	<form th:action="@{'/create-post/'+${user.id}}" method="post">
		<input placeholder="Insert text here.." type="text" name="text" id="text">
		<button type="submit">Send</button>
	</form>
	<ul>
        <li th:each="post : ${posts}">
            <span th:text="${post.text}"></span>
        </li>
    </ul>
</body>
</html>